<section class="container-fluid py-3 my-5"
*ngIf="cartDetails; else msg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="text-center mb-4">Cart Details</h1>
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div>
            <a routerLink="/home" class="btn btn-info">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.5 3.5a.5.5 0 0 1 .5.5v2.793l3.146-3.147a.5.5 0 1 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 1 1 .708-.708L7 6.793V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.5 1a.5.5 0 0 1 .5.5v2.793l3.146-3.147a.5.5 0 1 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 1 1 .708-.708L7 4.793V1.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              Continue Shopping
            </a>

            <button (click)="clear()" class="btn btn-outline-danger ms-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash me-1" viewBox="0 0 16 16">
                <path d="M5.5 1a.5.5 0 0 1 .5.5V3h4V1.5a.5.5 0 0 1 1 0V3h1a2 2 0 0 1 2 2v1H2V5a2 2 0 0 1 2-2h1V1.5a.5.5 0 0 1 .5-.5zM2 7v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H2z"/>
                <path fill-rule="evenodd" d="M4.5 10.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm3 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm3 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg>
              Clear Cart
            </button>
                      </div>
          <div>
            <h4 class="text-main">
              Total Price: {{cartDetails.totalCartPrice | currency : "EUR"}}
            </h4>
          </div>
        </div>

        <div *ngIf="cartDetails.products.length > 0; else emptyCart">
          <div class="list-group mb-4">
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let item of cartDetails.products | filterProducts"
            >
              <div class="d-flex align-items-center">
                <img [src]="item.product.imageCover" class="img-fluid me-3" [alt]="item.product.title" style="max-width: 100px;" />
                <div>
                  <h5 class="mb-0">{{ item.product.title | termtext : 5 }}</h5>
                  <p class="m-0">Price: {{ item.price | currency : "EUR" }}</p>
                  <p class="m-0">Quantity: {{ item.count }}</p>

                </div>
              </div>

              <div>
                <button
                  (click)="removeFromCart(item.product._id)"
                  class="btn btn-danger me-2"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>

          <div class="text-center">
            <button [routerLink]="['/checkout/', cartDetails._id]" class="btn btn-success">
              Proceed to Checkout
            </button>
          </div>
        </div>

        <ng-template #emptyCart>
          <p class="text-center">Your cart is empty.</p>
        </ng-template>
      </div>
    </div>
  </div>
</section>




<ng-template #msg>
  <h2 class="text-center">Your Cart Is Empty...</h2>
</ng-template>
