<section>
  <div class="container-fluid">
    <div class="row">
      <footer class="bg-main-light p-4 me-auto">
        <h5>Get the FreshCart app</h5>
        <p>We Will send you a link open it on your phone to download the app</p>
        <div class="d-flex">
          <input
            class="form-control w-75"
            type="email"
            placeholder="Email"
          />
          <button type="submit" class="btn-main">Share App Link</button>
        </div>
      </footer>
    </div>
  </div>
</section>
