<!-- <section class="my-5">
  <ng-container *ngIf="brandDetails">
    <div class="container bg-main-light my-4 p-5 rounded-2">
      <div class="row g-0">
        <div class="col-md-4 col-lg-3 text-center">
          <img
            [src]="brandDetails.image"
            class="w-100 rounded-3"
            [alt]="brandDetails.name"
          />
        </div>
        <div class="col-md-8 col-lg-9">
          <div class="d-flex flex-column h-100 justify-content-between p-3">
            <div class="col">
              <h2 class="h4 fw-bold">Brand Name:</h2>
              <h3 class="h5 fw-bold text-main">{{ brandDetails.name }}</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <ng-container *ngIf="categoryProducts">
            <div class="d-flex justify-content-between mt-md-5">
              <div class="d-flex align-items-center">
                <button
                  (click)="openSearchResult()"
                  class="btn btn-outline-main"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input
                  #search
                  (keyup.Enter)="openSearchResult()"
                  (input)="searchReasult(search.value)"
                  [(ngModel)]="searchTitle"
                  placeholder="search .. "
                  type="search"
                  class="form-control me-2"
                />
              </div>
              <div class="d-none d-md-flex">
                <button
                  (click)="changedisplayClicOne()"
                  [disabled]="changeDisplay"
                  class="btn btn-outline-main"
                >
                <i class="fa-solid fa-table-cells-large"></i>

                </button>
                <button
                  (click)="changedisplayClicTwo()"
                  [disabled]="!changeDisplay"
                  class="btn btn-outline-main"
                >
                <i class="fa-solid fa-list"></i>

                              </button>
              </div>
            </div>
            <div
              [ngClass]="{
                'row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4':
                  changeDisplay,
                'row-cols-1': !changeDisplay
              }"
              class="row mt-5"
            >
              <ng-container
                *ngIf="!(categoryProducts | search : searchTitle).length"
              >
                <div class="alert alert-danger my-4">
                  No products with that name sorry
                </div>
              </ng-container>
              <div
                *ngFor="
                  let item of categoryProducts | search : searchTitle;
                  index as i
                "
                class="col-12 p-4 shadow-sm position-relative parent overflow-hidden"
              >
                <div
                  *ngIf="imageIsLoading"
                  class="position-absolute w-100 h-100 top-0 start-0 end-0 bottom-0 z-3 d-flex align-items-center justify-content-center"
                  aria-hidden="true"
                >
                  <div
                    class="spinner-border text-secondary"
                    role="status"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
                <a
                  [routerLink]="['/details', item._id]"
                  class="child cursor-pointer text-decoration-none"
                >
                  <span class="offer bg-danger"
                    >-{{ getOffer(i, categoryProducts) }}%</span
                  >
                  <div class="product row g-0">
                    <div class="col-4 p-0">
                      <img
                        [style]="imageIsLoading ? 'aspect-ratio: 1/1;' : ''"
                        (load)="imageLoaded()"
                        class="w-100"
                        [src]="item.imageCover"
                        [alt]="item.category.name"
                      />
                      <div
                        class="position-absolute top-0 end-0 bottom-0 start-0 d-flex justify-content-center align-items-center overflow-hidden sliderParent"
                      >
                        <img
                          class="w-100"
                          [src]="
                            item.images[2] ? item.images[2] : item.images[0]
                          "
                          [alt]="item.category.name"
                        />

                      </div>
                    </div>
                    <div class="col-8">
                      <div class="p-3">
                        <p class="fw-bold">{{ item.category.name }}</p>
                        <p
                          class="text-muted"
                          [style]="changeDisplay ? 'display:none;' : ''"
                        >
                          {{ item.description }}
                        </p>
                        <p
                          class="mb-0"
                          [style]="changeDisplay ? 'display:none;' : ''"
                        >
                          <span class="fw-bold">reviews : </span
                          >{{ item.ratingsAverage }}
                          <i class="fa-solid fa-eye"></i>
                        </p>
                        <p
                          class="mb-0"
                          [style]="changeDisplay ? 'display:none;' : ''"
                        >
                          <span class="fw-bold">Sold : </span> {{ item.sold }}
                          <i class="fa-solid fa-bag-shopping"></i>
                        </p>
                        <h2 class="fw-bolder h6">
                          {{ item.title | termtext : (changeDisplay ? 2 : 20) }}
                        </h2>
                      </div>
                      <div
                        class="p-3 d-flex justify-content-between align-items-center"
                      >
                        <div>
                          <p
                            class="mb-0 d-flex justify-content-center align-items-center"
                          >
                            <span
                              class="h6 fw-bolder d-flex justify-content-center align-items-center mb-0"
                            >
                              <span class="me-1">EGP</span>
                              <span>{{
                                item.price +
                                  item.price *
                                    (getOffer(i, categoryProducts) / 100)
                                  | number
                              }}</span>
                            </span>
                          </p>
                          <div>
                            <i
                              [style]="'color:yellow;'"
                              class="fas fa-star"
                            ></i>
                            {{ item.ratingsAverage }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <div class="row my-2 p-3">
                  <div class="col-9">
                    <button
                      (click)="addToCart(item._id)"
                      class="btn-main w-100"
                    >
                      Add To Cart
                    </button>
                  </div>
                  <div class="px-2 col-3">
                    <button
                      *ngIf="!currentWishList.includes(item._id)"
                      (click)="addToWishList(item._id)"
                      class="wishListBtn btn-main w-100 h-100 d-flex justify-content-center align-items-end"
                    >
                      <i class="fa-regular fa-heart fa-lg"></i>
                    </button>

                    <button
                      *ngIf="currentWishList.includes(item._id)"
                      (click)="removeFromWishList(item._id)"
                      class="wishListBtn btn-danger btn w-100 h-100 d-flex justify-content-center align-items-end"
                    >
                      <i class="fa-solid fa-heart fa-lg"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</section> -->

<section class="my-5">
  <ng-container *ngIf="brandDetails">
    <div class="container bg-main-light my-4 p-5 rounded-2">
      <div class="row g-0">
        <div class="col-sm-9 col-md-2 col-lg-2 text-center">
          <img [src]="brandDetails.image" class="w-100 rounded-3" [alt]="brandDetails.name" />
        </div>
        <div class="col-md-1 col-lg-1">
          <div class="d-flex  justify-content-between p-3">
            <div>
              <h2 class="h6 fw-bold">Brand Name:</h2>
              <h3 class="h5 fw-bold text-main">{{ brandDetails.name }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex align-items-center">
            <button (click)="openSearchResult()" class="btn btn-outline-main me-2">
              <i class="fas fa-search"></i>
            </button>
            <input
              #search
              (keyup.Enter)="openSearchResult()"
              [(ngModel)]="searchTitle"
              placeholder="Search products..."
              type="search"
              class="form-control me-2"
            />
          </div>
          <!-- <div class="d-flex align-items-center">
            <button (click)="toggleDisplayMode('grid')" [class.active]="displayMode === 'grid'" class="btn btn-outline-main me-2">
              <i class="fas fa-th-large"></i>
            </button>
            <button (click)="toggleDisplayMode('list')" [class.active]="displayMode === 'list'" class="btn btn-outline-main">
              <i class="fas fa-th-list"></i>
            </button>
          </div> -->
        </div>
        <div class="g-4">
          <ng-container *ngIf="categoryProducts && categoryProducts.length > 0; else noProducts">
            <!-- <div *ngFor="let product of categoryProducts | search : searchTitle" class="col-sm-12 ">
              <div class="card  mb-3">
                <div class="row  g-0">
                  <div class="col-md-4">
                    <img [src]="product.images[0]" class="img-fluid rounded-start" [alt]="product.title" />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text" *ngIf="displayMode === 'list'">{{ product.description }}</p>
                      <p class="card-text fw-bold mb-1">{{ product.price | currency }}</p>
                      <button (click)="addToCart(product.id)" class="btn btn-main">Add to Cart</button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-4 g-4">
              <ng-container *ngFor="let item of categoryProducts | search : searchTitle; index as i">
                <div class="col mb-4">
                  <div class="product card child  cursor-pointer"
                    [routerLink]="['/details', item._id]"
                  >
                    <img class="card-img-top" [src]="item.imageCover" [alt]="item.category.name" />
                    <div class="card-body">
                      <h5 class="card-title">{{ item.title | termtext : 2  }}</h5>
                      <p class="card-text">{{ item.description | termtext : 4 }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-0">
                          <span class="fw-bold">{{ item.price | currency }}</span>
                        </p>
                        <div class="d-flex align-items-center">
                          <i class="fas fa-star rating-color"></i>
                          <span>{{ item.ratingsAverage }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <!-- No Products Found -->
          <ng-template #noProducts>
            <div class="col">
              <div class="alert alert-danger" role="alert">
                No products found.
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</section>

