.product{
    position: relative;
}


.product:hover{
    .heart{
        left: 10px;
    }
}

.heart{
    position: absolute;
    top: 10px;
    left: -30px;
    cursor: pointer;
    z-index: 99;
    transition: left 0.5s;
}

