<section class="p-4 rounded mt-5 w-75 mx-auto"
*ngIf="wishListData; else msg"

>
  <h1 class="text-center">Wishlist</h1>
  <div class="row g-4">
    <div class="col-md-2" *ngFor="let product of products">
      <div class="product">
        <i
          (click)="removeFav(product._id)"
          class="fa-solid fa-heart heart text-danger"
        ></i>
        <div
          class="p-2 cursor-pointer"
          [routerLink]="['/details', product._id]"
        >
          <img [src]="product.imageCover" class="w-100" [alt]="product.title" />
          <h3 class="h6">{{ product.title | termtext : 2 }}</h3>
          <h4 class="h6 text-main">
            {{ product.category.name | termtext : 2 }}
          </h4>

          <div class="d-flex justify-content-between align-item-center">
            <span>{{ product.price | currency : "EUR" }}</span>
            <div>
              <i class="fas fa-star rating-color"></i>
              <span class="text-muted">{{ product.ratingsAverage }}</span>
            </div>
          </div>
        </div>
        <button
          (click)="addCart(product._id, btnAdd)"
          #btnAdd
          class="btn-main w-100 mx-auto rounded-3 p-0"
        >
          Add To Cart
        </button>
      </div>
    </div>
  </div>
</section>


<ng-template #msg>
  <h2 class="text-center"> Your Wishlist Is Empty... </h2>
</ng-template>
