<nav class="navbar navbar-expand-lg bg-main-light fixed-top">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/images/freshcart-logo.svg" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLinkActive="active-link"
            routerLink="home"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLinkActive="active-link"
            routerLink="products"
            >products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLinkActive="active-link"
            routerLink="categories"
            >categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize"
            routerLinkActive="active-link"
            routerLink="brands"
            >brands</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link cursor-pointer position-relative" routerLink="/cart">
            <i class="fas fa-shopping-cart fa-2x text-main"></i>
            <div class="badge bg-main position-absolute top-0 end-0 w-50">{{ numOfCartItems }}</div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/whishlist">
            <i class="fa-solid fa-heart fa-1x text-danger"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i><i class="fab fa-instagram"></i></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i><i class="fab fa-facebook"></i></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i><i class="fab fa-tiktok"></i></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i><i class="fab fa-twitter"></i></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i><i class="fab fa-linkedin-in"></i></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><i><i class="fab fa-youtube"></i></i
          ></a>
        </li>



      </ul>

        <!-- <li class="nav-item">
          <span class="nav-link cursor-pointer" (click)="logOutUser()"
            >SignOut</span
          >
        </li> -->

        <button class="Btn">

          <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

          <div (click)="logOutUser()" class="text">SignOut</div>
        </button>




    </div>
  </div>

</nav>
