<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <h1>Login</h1>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <label for="email">email</label>
        <input
        #inputEmail
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
  
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('email')?.errors &&
            (loginForm.get('email')?.touched || inputEmail.value.length > 0)
          "
        >
          <p *ngIf="loginForm.get('email')?.hasError('required')">
            email is required
          </p>
          <p *ngIf="loginForm.get('email')?.hasError('email')">
            email is not valid
          </p>
        </div>
      </div>
      <div class="mb-2">
        <label for="password">password</label>
        <input
        #inputPassword
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
  
        <div
          class="alert alert-danger"
          *ngIf="
            loginForm.get('password')?.errors &&
           ( loginForm.get('password')?.touched || inputPassword.value.length > 0)
          "
        >
          <p *ngIf="loginForm.get('password')?.hasError('required')">
            password is required
          </p>
          <p *ngIf="loginForm.get('password')?.hasError('pattern')">
            password must start with upperCase then from 6 to 10
          </p>
        </div>
      </div>
  
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn-main m-auto d-block"
      >
        <i><i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i></i>
        Login
      </button>
      <p class="alert alert-danger" *ngIf="msgError">{{ msgError }}</p>
    </form>
    <div class="text-center my-2 "  >
      <p>Don't have an account? <a class="text-main" routerLink="/register">Register Now</a></p>
      <p>Forgot password? <a class="text-main" routerLink="/forgot-password">Reset Password</a></p>
    
    </div>    

  </section>
