<!-- Registration Section -->
<section>
  <!-- Wave Background -->
  <img class="wave" src="./assets/images/wave.png">
  <div class="container">
    <!-- Image Section -->
    <div class="img">
      <img src="./assets/images/bg.svg">
    </div>
    <!-- Registration Form -->
    <div class="login-content">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Title -->
        <h2 class="title"> Member Register </h2>
        <!-- Name Input -->
        <div class="wrap-input100">
          <input id="name" formControlName="name" class="input100" type="text" placeholder="Name" />
          <!-- Error Messages -->
          <div class="alert-validate validate-input alert-danger" *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
            <p *ngIf="registerForm.get('name')?.hasError('required')">name is required</p>
            <p *ngIf="registerForm.get('name')?.hasError('minlength')">name must be at least 3 characters</p>
            <p *ngIf="registerForm.get('name')?.hasError('maxlength')">name must be between 3 and 20</p>
          </div>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>
        <!-- Email Input -->
        <div class="wrap-input100">
          <input id="email" #inputEmail formControlName="email" class="input100" type="text" name="email" placeholder="Email" />
          <!-- Error Messages -->
          <div class="alert-validate validate-input alert-danger" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
            <p *ngIf="registerForm.get('email')?.hasError('required')">email is required</p>
            <p *ngIf="registerForm.get('email')?.hasError('email')">email is not valid</p>
          </div>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <!-- Password Input -->
        <div class="wrap-input100">
          <input id="password" #inputPassword formControlName="password" class="input100" type="password" placeholder="Password" />
          <!-- Error Messages -->
          <div class="alert-validate validate-input alert-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
            <p *ngIf="registerForm.get('password')?.hasError('required')">password is required</p>
            <p *ngIf="registerForm.get('password')?.hasError('pattern')">password must start with upperCase then from 6 to 10</p>
          </div>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <!-- Confirm Password Input -->
        <div class="wrap-input100">
          <input id="repassword" formControlName="rePassword" class="input100" type="password" placeholder="rePassword" />
          <!-- Error Messages -->
          <div class="alert-validate validate-input alert-danger" *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
            <p *ngIf="registerForm.get('rePassword')?.hasError('required')">rePassword is required</p>
            <p *ngIf="registerForm.get('rePassword')?.hasError('rePasswordNotMatch')">Password Not Matched</p>
          </div>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
        </div>
        <!-- Phone Input -->
        <div class="wrap-input100">
          <input id="phone" formControlName="phone" class="input100" type="tel" placeholder="phone" />
          <!-- Error Messages -->
          <div class="alert-validate validate-input alert-danger" *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
            <p *ngIf="registerForm.get('phone')?.hasError('required')">phone is required</p>
            <p *ngIf="registerForm.get('phone')?.hasError('pattern')">accept only egypt phone numbers</p>
          </div>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </span>
        </div>
        <!-- Submit Button -->
        <div class="container-login100-form-btn">
          <button [disabled]="registerForm.invalid" class="login100-form-btn">
            <i><i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i></i>
            Register
          </button>
          <!-- Error Message -->
          <p class="alert-validate validate-input alert-danger" *ngIf="msgError">{{ msgError }}</p>
        </div>
      </form>
    </div>
  </div>
</section>
