<!-- Section for the Forgot Password functionality -->
<section *ngIf="step1" class="container">
  <div class="bg-main-light p-4 rounded mx-auto">
    <!-- Headline for Forgot Password -->
    <h1 class="text-center text-main">Forgot Password</h1>
    <!-- Description for the Forgot Password functionality -->
    <p class="text-center">
      Enter your email address and we will send you a link to reset your password
    </p>

    <!-- Form for submitting the email for password reset -->
    <form [formGroup]="forgotForm" (ngSubmit)="forgotpassword()" class="mx-auto">
      <div class="form-group">
        <!-- Input field for email -->
        <input
          formControlName="email"
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
        />
      </div>
      <!-- Button to trigger password reset -->
      <button type="submit" class="btn btn-main w-100">Forgot Password</button>
      <!-- Error message display -->
      <p class="alert alert-danger mt-3" *ngIf="userMsg">{{ userMsg }}</p>
    </form>
  </div>
</section>

<!-- Section for entering the reset code -->
<section *ngIf="step2" class="container">
  <div class="bg-main-light p-4 rounded my-3 mx-auto">
    <!-- Headline for entering reset code -->
    <h2 class="text-center text-main">Reset Code</h2>
    <!-- Form for entering the reset code -->
    <form [formGroup]="resetCode" (ngSubmit)="resetcode()" class="mx-auto">
      <div class="form-group">
        <!-- Input field for reset code -->
        <input
          formControlName="resetCode"
          type="text"
          id="resetcode"
          class="form-control"
          placeholder="Enter reset code"
        />
      </div>
      <!-- Button to submit reset code -->
      <button type="submit" class="btn btn-main w-100">Reset Code</button>
    </form>
  </div>
</section>

<!-- Section for resetting the password -->
<section *ngIf="step3" class="container">
  <div class="bg-main-light p-4 rounded mx-auto">
    <!-- Headline for resetting the password -->
    <h2 class="text-center text-main">Reset Password</h2>
    <!-- Form for resetting the password -->
    <form [formGroup]="resetPassword" (ngSubmit)="resetpassword()" class="mx-auto">
      <div class="form-group">
        <!-- Input field for new password -->
        <input
          formControlName="newPassword"
          type="password"
          id="resetpassword"
          class="form-control"
          placeholder="Enter new password"
        />
      </div>
      <!-- Button to submit new password -->
      <button type="submit" class="btn btn-main w-100">Reset Password</button>
    </form>
  </div>
</section>
