<!-- <section *ngIf="step1">
  <div class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <h1>Forgot Password</h1>
    <p>
      Enter your email address and we will send you a link to reset your
      password
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="forgotpassword()">
      <div class="mb-2">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
        />
      </div>
      <button type="submit" class="btn-main w-50">Forgot Password</button>
      <p class="alert alert-danger w-75 mx-auto p-1 mb-0 " *ngIf="userMsg" > {{userMsg}}</p>
    </form>
  </div>
</section> -->

<section *ngIf="step1" class="container">
  <div class="bg-main-light p-4 rounded  mx-auto">
    <h1 class="text-center text-main">Forgot Password</h1>
    <p class="text-center">
      Enter your email address and we will send you a link to reset your password
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="forgotpassword()" class="mx-auto">
      <div class="form-group">
        <input
          formControlName="email"
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your email"
        />
      </div>
      <button type="submit" class="btn btn-main w-100">Forgot Password</button>
      <p class="alert alert-danger mt-3" *ngIf="userMsg">{{userMsg}}</p>
    </form>
  </div>
</section>

<!-- <section *ngIf="step2">
  <form [formGroup]="resetCode" (ngSubmit)="resetcode()" >
    <div class="mb-2">
        Reset code      <label for="resetcode">Reset code</label>
      <input

        formControlName="resetCode"
        type="text"
        id="resetcode"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn-main w-50">Reset Code</button>
  </form>
</section>

<section *ngIf="step3">
  <form [formGroup]="resetPassword" (ngSubmit)="resetpassword()">
    <div class="mb-2">
      <label for="resetpassword">Reset Password</label>
      <input
        formControlName="newPassword"
        type="password"
        id="resetpassword"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn-main w-50">Reset Password</button>
  </form>
</section> -->


<section *ngIf="step2" class="container">
  <div class="bg-main-light p-4 rounded my-3 mx-auto">
    <h2 class="text-center text-main">Reset Code</h2>
    <form [formGroup]="resetCode" (ngSubmit)="resetcode()" class="mx-auto">
      <div class="form-group">
        <input
          formControlName="resetCode"
          type="text"
          id="resetcode"
          class="form-control"
          placeholder="Enter reset code"
        />
      </div>
      <button type="submit" class="btn btn-main w-100">Reset Code</button>
    </form>
  </div>
</section>


<section *ngIf="step3" class="container">
  <div class="bg-main-light p-4 rounded mx-auto">
    <h2 class="text-center text-main">Reset Password</h2>
    <form [formGroup]="resetPassword" (ngSubmit)="resetpassword()" class="mx-auto">
      <div class="form-group">
        <input
          formControlName="newPassword"
          type="password"
          id="resetpassword"
          class="form-control"
          placeholder="Enter new password"
        />
      </div>
      <button type="submit" class="btn btn-main w-100">Reset Password</button>
    </form>
  </div>
</section>
