.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg-main-light {
  background-color: #f4f4f4;
}

.rounded {
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-main {
  background-color: #0AAD0A;
  color: #fff;
}

.alert {
  border-radius: 5px;
  padding: 0.5rem;
}

P{
  color: black;
}
