<div class="w-50 mx-auto py-5 ">
    <form [formGroup]="shippingAddress" (ngSubmit)="handleOnline()" >
        <div class="mb-2">
            <label for="address">Address</label>
            <input
                formControlName="address"
                type="text"
                id="address"
                class="form-control"
            />
        </div>
        <div class="mb-2">
            <label for="city">City</label>
            <input
                formControlName="city"
                type="text"
                id="city"
                class="form-control"
            />
        </div>
        <div class="mb-2">
            <label for="phone">phone</label>
            <input
                formControlName="phone"
                type="tel"
                id="phone"
                class="form-control"
            />
        </div>

        <button type="submit" class="btn-main w-100">pay</button>
    </form>
</div>
