<footer class="mx-auto p-3">
  <div class="container ">
    <div class="row ">
      <div class="col-md-6 col-lg-12 p-3">
        <h2 class="h5">Get the FreshCart app</h2>
        <p>
          We Will send you a link open it on your phone to download the app
        </p>
        <div class="d-flex column-gap-2">
          <input class="form-control" type="email" placeholder="Email..." />
          <button type="submit" class="btn-main flex-shrink-0">
            Share App Link
          </button>
        </div>
      </div>
      <hr>
      <div class="col-md-6 col-lg-12 d-flex justify-content-between p-3 ">
        <div >
          <span>Payment Partners</span>
          <i
            ><a><img  src="./assets/images/visa-1.svg" title=" Visa "  /></a
          ></i>
          <i>
            <a><img  src="./assets/images/master.svg" title=" Master" /></a
          ></i>
          <i>
            <a
              ><img
                class="fpay"
                src="./assets/images/paypal-svgrepo-com.svg"
                title=" Paypal " />
                </a
          ></i>
        </div>
        <div>
            <span>
              Get deliveries with FreshCart</span>
            <a
              class="mx-1"
              href="https://play.google.com/"
              target="_blank"
              rel="noopener"
              title="Google Play"
            >
              <img class="img" src="./assets/images/googleplay.png" />
            </a>
            <a
              href="https://apps.apple.com/"
              target="_blank"
              rel="noopener"
              title="App Store"
            >
              <img class="img" src="./assets/images/appstore.png" />
            </a>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <h6>
          copyright &copy; <span>Abdullah Taha</span> 2024. All rights reserved.
        </h6>

        <ul class="icon d-flex justify-content-center list-unstyled">
          <li>
            <a
              href="https://github.com/Abdullah-t-hosni"
              target="_blank"
              rel="noopener"
              title="Github"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/abdullah-t-hosni/"
              target="_blank"
              rel="noopener"
              title="Linkedin"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/abdullah.t.hosni"
              target="_blank"
              rel="noopener"
              title="Facebook"
              ><i class="fab fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/abdullah.t.hosni/"
              target="_blank"
              rel="noopener"
              title="Instagram"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>






