<footer class="bg-main-light py-4">
  <div class="container">
    <h2>Get the FreshCart app</h2>
    <p class="text-muted">
      We Will send you a link open it on your phone to download the app
    </p>
    <div class="d-flex gap-4">
      <input class="form-control" type="email" placeholder="Email..." />
      <button type="submit" class="btn-main flex-shrink-0">
        Share App Link
      </button>
    </div>

    <div class="d-flex justify-content-between mt-5">
      <div>
        <span>Payment Partners</span>
        <p>
          <i class="fab fa-cc-mastercard fa-xl mx-1"></i>
          <i class="fab fa-cc-visa fa-xl mx-1"></i>
          <i class="fab fa-cc-paypal fa-xl mx-1"></i>
          <i class="fab fa-cc-amazon-pay fa-xl mx-1"></i>
        </p>
      </div>

      <div>
        <p>copyright &copy; <span>Abdullah Taha</span> 2024. All rights reserved.</p>
        
          <ul class="navbar-nav d-block">
            <li class="nav-item">
              <a class="nav-link"><i><i class="fab fa-instagram"></i></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i><i class="fab fa-facebook"></i></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><i><i class="fab fa-twitter"></i></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><i><i class="fab fa-linkedin-in"></i></i></a>
              </li>
          </ul>
        </div>
      <div>
        <span class="text-muted"> Get deliveries with FreshCart </span>
        <p>
          <a
            class="mx-1"
            href="https://play.google.com/"
            target="_blank"
            rel="noopener"
            title="Google Play"
          >
            <img class="img" src="./assets/images/googleplay.png" />
          </a>
          <a
            href="https://apps.apple.com/"
            target="_blank"
            rel="noopener"
            title="App Store"
          >
            <img class="img" src="./assets/images/appstore.png" />
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
